html 
    head 
        title Red or Green  
        style  
            include ../public/style.css
            
    body 
        h1 red or green

        a(href="/gron") Grön

        
        a(href="/rod") Röd