doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        script(src="/script.js") 
        title Chinese
    body 
        each card in cards
            div(onclick="flipCard(this)")
                p= card.front 
                p(class="hidden")= card.back


