html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Välj en 
    body
        each collection in collections
            a(href="collection/" + collection.id) 
                p=collection.name