body {
    background-color: #076d69;
}

p {
    background-color: white;
    margin-right: 10px;
    border-radius: 100px;
    padding-left: 100px;
}

h2 {
    text-align: center;
    background-color: white;
    border-radius: 50px;
}


body, p, h2 {
    text-align: center;
}
p, h2 {
    display: inline-block;
    padding: 10px 20px;
}

