doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Click and buy 
    body
        h1 Click and buy

        
        <ul>
        <li><a class="active" href="index.pug">Hem</a></li>
        <li><a href="/fordon">Fordon</a></li>
        <li style="float:right"><a href="/om">Om</a></li>
        <li style="float:right"><a href="/kontakt">Kontakt</a></li>
        </ul>

        img(src="/ops.png" style="width:600px")
