doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Click and buy 
    body
        h1 Click and buy

        
        <ul>
        <li><a href="/index">Hem</a></li>
        <li><a href="/fordon">Fordon</a></li>
        <li class="active" style="float:right"><a href="#contact">Om</a></li>
        <li style="float:right"><a href="/kontakt">Kontakt</a></li>
        </ul>