body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.card {
    margin: 10px;
    width: 150px;
    border: 0.5px solid #ccc;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

p {
    width: 100px;
    padding: 20px;
    border-width: 3px; 
    border-style: solid;
    text-align: center;
}

